Newsletter Agent.json
{
  "name": "Newsletter Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -704,
        -256
      ],
      "id": "f498daee-95ec-4dcc-b153-d599fa7dbd95",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        64
      ],
      "id": "d20ba35a-9973-4326-a734-c0145befd350",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bzCnduIaxg2ekaTW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are recent articles to consider:\n\n{{ $json.results.map(item => JSON.stringify(item,null,2)).join('\\n\\n') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert newsletter planner. You receive 3 short article digests (title, URL, published date, content) from the past week.\n\nTask: \npropose a catchy edition title (≤ 80 chars) and exactly 3 concise topics (each 3–5 words) that reflect distinct angles for our audience of small-business leaders.\n\nConstraints: unique topics; no duplicates; no clickbait; be informative.\nOutput only via the required schema (no extra text)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -368,
        -112
      ],
      "id": "6b3ef681-b3c7-4b73-be05-46e3d1b072d8",
      "name": "Planner Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"title\": { \"type\": \"string\", \"minLength\": 10 },\n    \"topics\": {\n      \"type\": \"array\",\n      \"minItems\": 3,\n      \"maxItems\": 3,\n      \"items\": { \"type\": \"string\", \"minLength\": 3, \"maxLength\": 50 }\n    }\n  },\n  \"required\": [\"title\", \"topics\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -160,
        64
      ],
      "id": "e5341ff0-5894-4583-a794-3164db3c7580",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.topics",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        -256
      ],
      "id": "a777d05a-fda0-44aa-877a-08f888d94075",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        64
      ],
      "id": "9163af29-54d1-4056-86a0-9bb9de4b0239",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "bzCnduIaxg2ekaTW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.query }}\n\nUse these sources to write one standalone section:\n{{ $json.results.map(item => JSON.stringify(item,null,2)).join(\"\\n\\n\") }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional newsletter section writer. Write ONE self-contained section (350–500 words) for small-business leaders.\n\nRequirements:\n- Start with an H2 heading matching the Topic (e.g., “## <topic>”).\n- Synthesize facts from the provided sources (don’t invent).\n- Inline-cite claims with superscript markers like [1], [2].\n- After the prose, add a short “Sources” list: [n] Title — Domain (linked).\n- Tone: clear, expert, engaging. No overall intro or conclusion; just this section.\n- Output plain Markdown (the editor will convert to HTML)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        -112
      ],
      "id": "df089a96-b76d-440b-8de2-967bb6f46284",
      "name": "Section Writer Agent"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        496,
        -256
      ],
      "id": "ae431736-f069-4993-be0f-0c1e77d02cf7",
      "name": "aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $('Planner Agent').item.json.output.title }}\nSections: \n{{ $json.output.join(\"\\n\\n\\n\\n\") }}\n\n\n\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the newsletter editor and layout stylist.\n\n**Input:** one title candidate and 3 Markdown sections with [n] footnotes.\n\n**Output:**\n1. **subject** — an email subject (≤ 80 chars, no emojis).\n2. **content** — a VALID, responsive HTML **body only** (no `<!DOCTYPE>`, `<html>`, or `<head>`).\n\n**HTML Requirements:**\n* Structure: include a header with the title + current date {{ $now.format(\"DDD\") }}, a short intro paragraph, the 3 sections (convert Markdown to HTML), a “Key Sources” section that deduplicates and numbers links, and a short friendly sign-off.\n* Typography: use `<h1>/<h2>`, `<p>`, `<ul>/<ol>`, `<a>`. Apply inline CSS for readability (max-width container, readable font size and line-height).\n* Links: anchors must include `rel=\"noopener noreferrer\"` and `target=\"_blank\"`.\n* Accessibility: semantic headings; include `alt` text if images appear (don’t invent images).\n* Restrictions: no external CSS/JS, no tracking pixels."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        656,
        -96
      ],
      "id": "4e94c447-b0f2-4b3e-9e03-c60f68c04573",
      "name": "Editor Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        80
      ],
      "id": "eaf4b006-e6ef-4a76-a796-566f6a81bbf7",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "bzCnduIaxg2ekaTW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"the email subject\"\n    },\n    \"content\": {\n      \"type\": \"string\",\n      \"description\": \"the newsletter content\"\n    }\n  },\n  \"required\": [\"subject\", \"content\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        64
      ],
      "id": "305cbb96-324c-42c8-a60b-db7506007a11",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.subject }}",
        "emailType": "html",
        "message": "={{ $json.output.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        976,
        -288
      ],
      "id": "9845feb3-2cce-4209-be5d-9238f947bf14",
      "name": "Create a draft",
      "webhookId": "7f30b2cb-d277-4f2b-8dec-4e2a5a04f357",
      "credentials": {
        "gmailOAuth2": {
          "id": "QP97m4xEgvUQTTwe",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "query": "AI Adoption for small bussiness",
        "options": {
          "topic": "news",
          "max_results": 3,
          "time_range": "week"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        -512,
        -256
      ],
      "id": "e6fafa9a-88ae-4d9f-a863-85247d25b3b9",
      "name": "Initial Search",
      "credentials": {
        "tavilyApi": {
          "id": "UCErsl4hMLRDeRAd",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ $json['output.topics'] }}",
        "options": {
          "topic": "general",
          "time_range": "month",
          "include_raw_content": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        32,
        -256
      ],
      "id": "173b835d-4830-45de-8255-baa4b8bce0ca",
      "name": "Topic research",
      "credentials": {
        "tavilyApi": {
          "id": "UCErsl4hMLRDeRAd",
          "name": "Tavily account"
        }
      }
    }
  ],
  "pinData": {
    "Split Out": [
      {
        "json": {
          "output.topics": "Boost marketing with AI"
        }
      },
      {
        "json": {
          "output.topics": "SMEs cultivate Gen Z talent"
        }
      },
      {
        "json": {
          "output.topics": "Develop your AI strategy"
        }
      }
    ],
    "Planner Agent": [
      {
        "json": {
          "output": {
            "title": "AI Edge: Small Business Marketing, Strategy & Future Talent",
            "topics": [
              "Boost marketing with AI",
              "SMEs cultivate Gen Z talent",
              "Develop your AI strategy"
            ]
          }
        }
      }
    ],
    "Initial Search": [
      {
        "json": {
          "query": "AI Adoption for small bussiness",
          "follow_up_questions": null,
          "answer": null,
          "images": [],
          "results": [
            {
              "url": "https://www.forbes.com/sites/nishacharya/2025/10/14/how-ai-is-changing-online-marketing-for-small-businesses/",
              "title": "How AI Is Changing Online Marketing For Small Businesses - Forbes",
              "score": 0.70214266,
              "published_date": "Tue, 14 Oct 2025 21:30:09 GMT",
              "content": "# How AI Is Changing Online Marketing For Small Businesses Many have claimed that AI tools across various areas will help small businesses focus more on product development and quality, and less on other operational demands. Today, most small businesses with an online presence use Google Ads to market their products or services. Google Ads is the company’s online advertising platform where businesses pay, through an auction process, to show their ads in search results, on YouTube, in Google Maps, and during shopping searches. The agency’s expertise lies in developing creative tools that leverage the Google ecosystem, including funnels, creatives, video ads, and landing pages with high-performing copy for Google and YouTube.",
              "raw_content": null
            },
            {
              "url": "https://www.consultancy.uk/news/41885/uk-leaders-hobbling-long-term-prospects-by-automating-gen-z-jobs",
              "title": "UK leaders hobbling long-term prospects by automating Gen Z jobs - Consultancy.uk",
              "score": 0.43669468,
              "published_date": "Mon, 20 Oct 2025 04:05:56 GMT",
              "content": "In recent months, a growing number of consulting firms – including the Big Four – have announced reductions in graduate recruitment, opting instead to deploy AI technologies to handle entry-level tasks. At the same time, AI adoption comes with notable costs, so the ‘savings’ are less pronounced to firms with smaller incomes to begin with – meaning that while 53% of large firms expect further reductions in roles inhabited by Gen Z, that compares to just 34% of SMEs. The implication, according to the researchers, is that SMEs could become the backbone of skills development, providing greater opportunities for employment and training for Gen Z. AI & Gen AI consulting firms AI & Gen AI consulting services",
              "raw_content": null
            },
            {
              "url": "https://www.forbes.com/sites/esade/2025/10/17/does-your-organization-have-an-ai-strategy/",
              "title": "Does Your Organization Have An AI Strategy? - Forbes",
              "score": 0.37154752,
              "published_date": "Fri, 17 Oct 2025 11:15:00 GMT",
              "content": "# Does Your Organization Have An AI Strategy? Ultimately, there will be only two types of organizations: those that adopt AI, and those that don’t survive. ## AI Adoption’s Speed Dilemma ## Three Paths To AI Adoption Broadly speaking, organizations will experience shadow adoption, tool adoption, and transformative adoption. Instead, organizations should acknowledge shadow adoption, empower and guide it learning from how employees are already benefiting. Tool Adoption Transformative Adoption True competitive advantage comes from transformative adoption**.** This means rethinking not just tools but structures, processes, and business models. Tool adoption can buy time; transformative adoption builds the future. 3. **Pursue Transformative Adoption** – Use AI not only to improve efficiency but to reimagine your organization.",
              "raw_content": null
            }
          ],
          "response_time": 0.32,
          "request_id": "c1d254df-102b-4cf5-b9eb-7185fb55d484"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Initial Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planner Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Planner Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Planner Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Topic research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Section Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Section Writer Agent": {
      "main": [
        [
          {
            "node": "aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate": {
      "main": [
        [
          {
            "node": "Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Editor Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Search": {
      "main": [
        [
          {
            "node": "Planner Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Topic research": {
      "main": [
        [
          {
            "node": "Section Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37f7d779-e570-4247-8f13-52594946ad04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8858e97a0628deda9b0b22e0137227d56e8a990ada5f26e3b089f67e13e611d0"
  },
  "id": "2aV2t86GBOQQ7S44",
  "tags": []
}